* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f3f2; /* marrom escuro */
    color: rgb(10, 10, 10);
}

/* SEÇÃO PRINCIPAL */
.contato {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.sub {
    color: #ece9e8;
    margin-bottom: 30px;
}

/* CONTEÚDO LADO A LADO */
.conteudo {
    display: flex;
    gap: 30px;
}

/* COLUNA DA ESQUERDA */
.infos {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: #e7e3e3;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #0a0a0a;
}

.card h3 {
    margin-bottom: 8px;
    color: #e6e3df;
}

/* FORMULÁRIO */
.formulario {
    width: 60%;
    background: #e6e1e0;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #0e0d0d;
}

.formulario h2 {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    background: #eeeae8;
    border: 1px solid #111111;
    border-radius: 8px;
    color: white;
}

textarea {
    height: 120px;
}

/* BOTÃO */
button {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    background: linear-gradient(90deg, #e4e2dd, #e4e2dd);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, #eeedea, #eeedea);
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .conteudo {
        flex-direction: column;
    }

    .infos, .formulario {
        width: 100%;
    }
}