* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
    padding: 40px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #382727;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #222;
}

h1 {
    color: #ffffff; /* amarelo */
    margin-bottom: 10px;
}

.descricao {
    margin-bottom: 25px;
    color: #ccc;
}

label {
    color: #ccc;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 6px 0 18px 0;
    background: #0f0f0f;
    border: 1px solid #dfd3d3;
    border-radius: 6px;
    color: white;
}

.linha {
    display: flex;
    gap: 20px;
}

.linha div {
    width: 100%;
}

button {
    width: 100%;
    background: #ffffff;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #d9b41f;
}